<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.header') %></span>

  <div class="nav-admin user">
     <b><%=t('.welcome', name: current_user.first_name.capitalize ) %></b> <%= link_to 'Guru', root_path %> |
     <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>
