<nav class="navbar navbar-light" style="background-color: #d2d2ef;">
  <span class="navbar-text""><%= t('.header') %></span>

  <span class="navbar-text">
     <p>Welcome,
        <b><%= current_user.email %></b>
        <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
      </p>
  </span>
</nav>
