<h1><%= t('.my_badges') %></h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('.image') %></th>
      <th><%= t('.name') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @badges %>
  </tbody>
</table>