// Place all the styles related to the badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.size-200px {
  width: 200px;
  height: 200px;
}