<h1>All Tests</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions count</th>
    <th colspan="4">Action</th>
  </tr>

  <%= render @tests %>
</table>
<br>
<h3><%= link_to 'Create New Test', new_test_path %></h3>