<footer class="footer text-muted">
    <p>На нашем сайте можно пройти тесты на знание it-технологий</br>
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :blank %></br>
      <%= current_year %>
      Eugene Shumilin
      <%= github_url('eugeneshumilin', 'test-guru') %> |
      <%= link_to t('.feedback'), new_feedback_path %>
    </p>
</footer>


