<footer>
  <p>На нашем сайте можно пройти тесты на знание it-технологий.</p>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :blank %></p>
  <p>
    <%= current_year %>
    Eugene Shumilin 
    <%= github_url('eugeneshumilin', 'test-guru') %>
  </p>
</footer>